

body
{
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

/* Style the navigation menu */
.topnav {
  order: 3;
  position: relative;
  text-align: right;
  top: 5%;
  width: 25%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  position: relative;
  background-color: grey;
  top: 30px;
  right: -50%;
  padding: 10px;
  width: 40%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FAE117 !important;
  color: black !important;
}

.topnav a:hover #headerUsername{
  color: black !important;
}

.topnav #headerDropDown {
  background: #121212;
  position: relative;
  top: 10px;
  right: 20px;
}

#headerUsername {
  padding-right: 20px;
  color: white;
}

#searchWrapper {
  order: 1;
  position: relative;
  top: 5%;
  text-align: left;
  width: 25%
}

#logoWrapper {
  order: 2;
  position: relative;
  text-align: center;
  top: 5%;
  width: 50%;
}

#logo {
  position: relative;
  width: 50px;
  height: 50px;
}

#header {
  display: flex;
  font-family: "Avenir Next", "Avenir", sans-serif;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #121212;
  height: 40px;
}

#search {
  position: relative;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F4F4EE;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 10px 12px 20px;
}

#loginLinkWrapper {
  position: relative;
  top: -10px;
  z-index: 2;
}
