body {
  background-color: #F4F4EE;
  text-align: center;
}

h1 {
  color: #FAE117;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

h2{
  color: #FAE117;
  text-align: right;
  margin-right: 150px;
  font-size: 18px;
  padding-bottom: 5px;
}

#birthdate {
  color: white;
  padding-top: 20px;
  font-size: 20px;
}

.btn {
  background-color:  #121212;/* background */
  border-color: #FAE117;
  border-radius: 4px;
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #FAE117;
  color: black;
}

input {
  color: black;
  background-color: #F4F4EE;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 175px;
  padding: 5px;
  box-shadow: 1px 1px 3px #333333;
}

#email {
  width: 350px;
}

#fName {
  transform: translate(-8%,0%);
}

#lName {
  transform: translate(8%,0%);
}

#signUp {
  text-align: center;
}

#bday {
  text-align: center;
}

#loginInfo {
  text-align: center;
}

#button {
  text-align: center;
}

#createButton {
  width: 120px;
  height: 50px;
  background-color: #FAE117;
  color: #333333;
  border: 5px solid #FAE117;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signUpUnderline {
  width: 600px;
  size: 50px;
  margin-bottom: 5px;
}

#signUpContainer {
  background-color: #121212;
  width: 900px;
  height: 950px;
  padding-top: 100px;
  margin-bottom: 4%;
  margin-top: 4%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #333333;
}

#profileContainer {
  background-color: #121212;
  width: 900px;
  height: 350px;
  padding-top: 100px;
  margin-bottom: 4%;
  margin-top: 4%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #333333;
}

#navigateLinks {
  color: #FAE117;
  text-align: left;
  margin-left: 0px;
  font-size: 18px;
  padding-bottom: 1px;
}
